@{
    ViewBag.Title = "Home Page";
}

    <h2>
        @Html.ActionLink("Kitaplar", "Index", "Books")
    </h2>

    <h2>
        @Html.ActionLink("Kitaplarım", "MyBooks", "Books")
    </h2>

    <h2>
        @Html.ActionLink("Teslim et", "DeliverBook", "Books")
    </h2>